@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;500;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

body{
  font-family: 'Outfit', sans-serif;
}

button{
  font-family: 'Outfit', sans-serif;
}

.my-font {
  font-family: 'Josefin Sans', sans-serif;
}

.slide-down-enter-active {
  transition: transform 0.3s ease-in-out;
  transform: translateY(0);
}

.slide-down-enter {
  transform: translateY(-100%);
}